
*.cmake
*.make
*.o
debug/Makefile
debug/main
debug/libSpaceGambit_core.a
debug/CMakeFiles/TargetDirectories.txt
debug/CMakeFiles/SpaceGambit_core.dir/link.txt
debug/CMakeFiles/SpaceGambit_core.dir/depend.internal
debug/CMakeFiles/SpaceGambit_core.dir/CXX.includecache
debug/CMakeFiles/progress.marks
debug/CMakeFiles/Makefile2
debug/CMakeFiles/main.dir/link.txt
debug/CMakeFiles/main.dir/depend.internal
debug/CMakeFiles/main.dir/CXX.includecache
debug/CMakeFiles/feature_tests.cxx
debug/CMakeFiles/feature_tests.c
debug/CMakeFiles/feature_tests.bin
debug/CMakeFiles/CMakeOutput.log
debug/CMakeFiles/cmake.check_cache
debug/CMakeFiles/3.12.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
debug/CMakeFiles/3.12.2/CompilerIdCXX/a.out
debug/CMakeFiles/3.12.2/CompilerIdC/CMakeCCompilerId.c
debug/CMakeFiles/3.12.2/CompilerIdC/a.out
debug/CMakeFiles/3.12.2/CMakeDetermineCompilerABI_CXX.bin
debug/CMakeFiles/3.12.2/CMakeDetermineCompilerABI_C.bin
debug/CMakeCache.txt
debug/Box2D/Makefile
debug/Box2D/CMakeFiles/progress.marks
debug/Box2D/Box2D/Makefile
debug/Box2D/Box2D/libBox2D.a
debug/Box2D/Box2D/CMakeFiles/progress.marks
debug/Box2D/Box2D/CMakeFiles/Box2D.dir/link.txt
debug/Box2D/Box2D/CMakeFiles/Box2D.dir/depend.internal
debug/Box2D/Box2D/CMakeFiles/Box2D.dir/CXX.includecache
