
.DS_Store

debug/Box2D
debug/CMakeFiles
!debug/resources/*
debug/Makefile
debug/main
debug/libSpaceGambit_core.a
debug/CMakeCache.txt
debug/cmake_install.cmake
!debug/resources/*
debug/resources/.DS_Store
